
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

:root {

  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);


  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}


@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wow{
  font-size: 5rem;
  color: #05555c !important;
}

html{
    
    --body-clr: #f6f9fe;
    --primary-clr: #05555c;
    --primary-light-clr: #eaf3fa;
    --links-clr: #186f78;
    --text-clr: #3f7277;
  }
  
  .hold{
    font-style:  'Raleway', sans-serif !important;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 20vh;     
    color: #3f7277;
  }
  
  .button-group{
    text-align: center;
    margin-bottom: 40px;
  }
  .button-group .button{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #c8d1d8;
    color: var(--primary-clr);
    
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
    font-style:  'Raleway', sans-serif !important;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }
  .button-group .button.active{
    background-color: var(--primary-clr);
    color: var(--body-clr);
  }
  .button-group .button:hover{
    background-color: var(--primary-clr);
    color: var(--body-clr);
  }
  
  


.containerr {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  place-items: center;
  row-gap: 3rem;
  grid-template-columns: 1fr;
  column-gap: 0.1rem !important;
}

  

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__qr{
  opacity:0 ;
  position: absolute;
  bottom: -7rem;
  left: 11rem;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: var(--small-font-size);
  font-weight: bold;
  color:#3f7277;
}



.card__button:hover {
  text-decoration: underline;
}


.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover .card__qr {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

@media screen and (max-width: 340px) {
  .containerr {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}


@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}


@media screen and (min-width: 1120px) {
  .containerr {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}